radio#collections-button,
#collections-button {
  list-style-image: url("icon32.png");
  -moz-image-region: rect(0px, 32px,  32px, 0px);
}

radio#collections-button:hover, radio#collections-button[selected="true"]  {
  -moz-image-region: rect(0px, 32px,  32px, 0px);
}

radio[noimage="true"]#collections-button {
  list-style-image: none;
  -moz-image-region: rect(0 0 0 0);
}

#collections-button,
#retirement-box {
  margin-right: 20px !important;
}

#collections-button {
  margin-top: 25px;
  cursor: pointer;
}

#retirement-box {
  padding-top: 10px;
  overflow: hidden;
}

#retirement-text {
  font-weight: bold;
}

#retirement-button {
  text-align: left;
}
